{config_load file="$language/lang_$language.conf" section="account_password"}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="profile">
    <div class="profile_header">
      <div class="profile_name">{$smarty.session.customer_first_name} {$smarty.session.customer_last_name}</div>
      <div class="profile_title"><span class="icon-chevron-right"></span> {#heading_password#}</div>
    </div>
    <div class="contents row">
      <div class="profile_navi col-lg-3 col-md-3 col-sm-3 col-xs-12">
        {include file="`$smarty.const.CURRENT_TEMPLATE`/module/navigation/accountnavi.html"}
      </div>
      <div class="profile_body col-lg-9 col-md-9 col-sm-9 col-xs-12 borderleft">
        <h3>{#heading_password#} <small>({#text_must#})</small></h3>
        {if $error!=''}<div class="profile_content"><div class="alert alert-danger">{$error}</div></div>{/if}

        <div class="profile_content"><p>{#text_password_policy#|sprintf:$smarty.const.ENTRY_PASSWORD_MIN_LENGTH}</p></div>

        {$FORM_ACTION}
          <div class="profile_content form-horizontal">
            {if isset($INPUT_ACTUAL)}
              <div class="control-group">
                <label class="control-label">{#text_actual#}</label>
                <div class="controls">{$INPUT_ACTUAL}</div>
              </div>
            {/if}

            <div class="control-group">
              <label class="control-label">{#text_new#}</label>
              <div class="controls">{$INPUT_NEW}</div>
            </div>
            
            <div class="control-group">
              <label class="control-label">{#text_confirm#}</label>
              <div class="controls">{$INPUT_CONFIRM}</div>
            </div>
            
            <div class="control-group">
              <label class="control-label">&nbsp;</label>
              <div class="controls">{btn btntype="btn btn-large btn-success" icontype="icon-chevron-right" value=IMAGE_BUTTON_CONTINUE}</div>
            </div>
            
            <div class="clb"></div>
            <div class="divider large"></div>
            {$BUTTON_BACK|btn:'btn btn-large':'icon-chevron-left'}
            
          </div>
        {$FORM_END}
      </div>
    </div>
  </div>
</div>
