{strip}
{config_load file="$language/lang_$language.conf" section="error_handler"}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="page-header">
  	<h1>{$ERROR}</h1>
  </div>
  <div class="alert-warning paddingbox large">
    <p>{#text_search_again#}</p>
    {$FORM_ACTION}
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="input-group large">
            {$INPUT_SEARCH|placeholder:$smarty.config.text_search|replace:'type':'class="input-height-large form-control" type'}
            <span class="input-group-btn">
              {if $smarty.session.device != 'mobile'}
                {btn btntype="btn-lg btn-primary" icontype="icon-search" value=IMAGE_BUTTON_SEARCH}
              {else}
                {btn btntype="btn-lg btn-primary btn-icon" icontype="icon-search"}
              {/if}
            </span>
          </div>
        </div>
      </div>
      <div class="divider small trans"></div>
    {$FORM_END}
  </div>
  
  <div class="divider large trans"></div>
  {$BUTTON|btn:'btn btn-default btn-lg':'icon-chevron-left'}
</div>
{/strip}