{strip}
{config_load file="$language/lang_$language.conf" section="reviews"}
{productData pid=$smarty.get.products_id function=getReviews assign=product}

{*<!-- _reviews: write -->*}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="page-header">
  	<h1>{#heading_reviews_write#}</h1>
    <h4><strong>{#text_product#}</strong> {$product.products_name} / <strong>{#text_author#}</strong> {$AUTHOR}</h4>
  </div>
  
  {if $error}
    <div class="alert alert-danger">{$error}</div>
  {else}
    {$FORM_ACTION}
      <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 product_rating">
          <div class="paddingbox clearfix">
            <div class="product_stars">
              <h3>{#text_input#}</h3>
              {$INPUT_RATING|replace:'input':'input class="star-rating"'}
            <div class="clb"></div>
            </div>
            {$INPUT_TEXT}<br />
            <div class="alert alert-warning" style="width: 98%;">{#text_note#}</div>
            {btn btntype="btn-lg btn-success" icontype="icon-envelope" value=IMAGE_BUTTON_SEND title=IMAGE_BUTTON_CONTINUE}
          </div>
        </div>
        
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 borderleft product_reviews">
          <div class="reviwslist paddingbox large">
            {*<!-- reviews list settings --------->*}
            {*<!-- number of items in the list --->*}
            {assign var=items value=4}
            
            {*<!-- trim reviews text to (signs) -->*}
            {assign var=trim_text value=200}
            
            {foreach name=aussen item=module_data from=$product.reviews}
              {if $smarty.foreach.aussen.iteration <= $items}
                <div class="row">
                  <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                    <div class="reviws_data">
                      <strong>{#text_author#}</strong><br class="hidden-sm hidden-xs" />
                      {$module_data.AUTHOR}
                      <div class="divider small trans"></div>
                      <strong>{#text_rating#}</strong><br class="hidden-sm hidden-xs" />
                      {$module_data.RATING}
                    </div>
                  </div>
                  <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 reviws_text">
                    <strong>{$module_data.DATE}</strong><br /> {$module_data.TEXT|truncate:$trim_text:'...'}
                  </div>
                </div>
                <div class="divider large trans"></div>
              {/if}
            {/foreach}
            
          </div>
        </div>
        
        <div class="clb"></div>
        <div class="divider large"></div>
        {$BUTTON_BACK|btn:'btn btn-default btn-lg':'icon-chevron-left'}
      </div>
    {$FORM_END}
  {/if}
</div>
{/strip}