/*****************/
/**** _global ****/

/** _element: headings  **/
h1, h2, h3, h4, h5 { 
  font-family: 'Lato', Helvetica, sans-serif;
  font-weight: 400;
  color: #31363a;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  letter-spacing:  0.75px;
  margin-bottom: 15px;
}
h1 { font-size: 41.5px; }
h2 { font-size: 34.5px; }
h3 { font-size: 27.5px; }
h4 { font-size: 20.5px; }
h5 { font-size: 17.0px; }
h6 { font-size: 14.9px; }

/** _global: elements radius **/
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
.input-append input, .input-append select, .input-append .uneditable-input,
.btn,
.btn-small,
.btn-large,
.btn-xlarge,
.open>.dropdown-menu { -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }

select:focus,
textarea:focus,
input:focus
select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0,0,0,.0) !important;
     -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0,0,0,.0) !important;
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0,0,0,.0) !important;
  outline: 0;
}
.radio-inline span { display: -webkit-inline-box; }
.input-height-large { height: 45px !important; }

.input-prepend .add-on:first-child,
.input-prepend .btn:first-child,
.btn-group>.btn:first-child { -webkit-border-top-left-radius: 2px; -moz-border-radius-topleft: 2px; border-top-left-radius: 2px; -webkit-border-bottom-left-radius: 2px; -moz-border-radius-bottomleft: 2px; border-bottom-left-radius: 2px; }

.input-prepend .add-on:last-child,
.input-prepend .btn:last-child,
.btn-group>.btn:last-child,
.btn-group>.dropdown-toggle { -webkit-border-top-right-radius: 2px; -moz-border-radius-topright: 2px; border-top-right-radius: 2px; -webkit-border-bottom-right-radius: 2px; -moz-border-radius-bottomright: 2px; border-bottom-right-radius: 2px; }


.nav > li > a:hover, .nav > li > a:focus { background: #ebedef; }
.thumbnail,
.table-bordered,
.nav-pills a,
.pagination,
.pagination a,
.pagination span,
.pagination-large,
.pagination-large a,
.pagination-large span { -webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; border-radius: 0 !important; }

.nav-tabs { }
.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav>li.dropdown.open.active>a:hover,
.nav>li.dropdown.open.active>a:focus { background: #1abc9c; color: #f0faf8; border-color: transparent; }
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus,
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus { background: #31363a; color: #f0faf8; border-color: transparent }
.nav .open>a, .nav .open>a:hover .caret, .nav .open>a:focus .caret,
.nav-pills>li.active>a .caret, .nav-pills>li.active>a:hover .caret, .nav-pills>li.active>a:focus .caret { border-top-color: #fff; border-bottom-color: #fff; }

.btn-mini { -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px; }

/** _global: elements primary colors **/
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #f0faf8;
  text-decoration: none;
  background: #1abc9c;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #f0faf8;
  text-decoration: none;
  outline: 0;
  background: #1abc9c;
}

.well { background-color: #f8f9fb; }

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus { 
  background-color: #939a9e; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
/* MOD2 */
.page_pagination {
  margin: 15px 0;
  padding-top: 15px;
  border-top: 1px solid #eee;
}
.pagination {
  margin-top: 0;
  margin-bottom: 0;
}
.pagination>li>a {
  color: #31363a;
}
.pagination>li>a:hover {
  background: #f8f9fa;
  color: #31363a;
}
.pagination>li.active {
  position: relative;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  text-decoration: none;
  border: 1px solid #ddd;
  background: #31363a;
  color: #fff;
  font-weight: bold;
  float: left;
}
/* -/- MOD2 */
.text-primary { color: #1abc9c; }
a.text-primary:hover { color: #16a085; }


/**** _global ****/
/*****************/




/******************/
/**** _buttons ****/

/** button: primary **/
.btn-primary { background: #1abc9c; border-color: #1abc9c; color: #fff; }
.btn-primary:hover { background: #16a085; border-color: #117f69; color: #fff; }
.btn-primary:active, .btn-primary:focus,
.btn-primary.active, .btn-primary.focus { background: #117f69; border-color: #117f69; color: #fff; }

/** button: inverse **/
.btn-inverse { background: #939a9e; color: #fff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15); border-color: #ffc119 #ffc119 #cc9300; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); }
.btn-inverse:hover { background: #6b7277; color: #fff; }
.btn-inverse:active, .btn-inverse:focus { background: #50565a; color: #fff; }
.btn-group.open .btn-inverse.dropdown-toggle {
  background-color: #555b60;
}

/** button: add size "xlarge" **/
.btn-xlarge {
  padding: 17px 26px;
  font-size: 21px;
}
.btn-xlarge [class^="icon-"],
.btn-xlarge [class*=" icon-"] {
  margin-top: 2px;
}
button.btn.btn-xlarge,
input[type="submit"].btn.btn-xlarge {
  *padding-top: 7px;
  *padding-bottom: 7px;
}
.btn-group > .btn-xlarge {
  font-size: 21px;
}
.btn-group > .btn-xlarge + .dropdown-toggle {
  padding-left: 12px;
  padding-right: 12px;
  *padding-top: 7px;
  *padding-bottom: 7px;
}
.btn-xlarge .caret {
  margin-top: 6px;
  border-left-width: 5px;
  border-right-width: 5px;
  border-top-width: 5px;
}
.dropup .btn-xlarge .caret {
  border-bottom-width: 5px;
}


/** button: link corrections **/
.btn-link { -webkit-box-shadow: 0 0 0 transparent !important; -moz-box-shadow: 0 0 0 transparent !important; box-shadow: 0 0 0 transparent !important; border-color: transparent !important; }
a, .btn-link { color: #282120; }
a:hover, .btn-link:hover { color: #31363a; }

/** button: correct spacing and sizing **/
.btn>[class^="icon-"] { margin-right: 10px; }
.btn-mini>[class^="icon-"] { margin-right: 7px; }
.btn-small>[class^="icon-"] { margin-right: 8px; }
.btn-large>[class^="icon-"] { margin-right: 14px; }
.btn-xlarge>[class^="icon-"] { margin-right: 18px; }
.btn-icon>[class^="icon-"] { margin-right: 0 !important; }

/** button: correct: block-button-align-left **/
.btn-block.all { padding-left: 15px; }

/**** _buttons ****/
/******************/




/****************/
/**** _panels ****/

.panel
.panel-heading { padding: 15px; }
.panel-title { font-size: 18px; font-weight: bold; }
.panel-body { padding: 15px; }

.panel-default { border-color: #ebedef; }
.panel-default > .panel-heading { background-color: #ebedef; border-color: #ebedef; font-weight: bold; }

.panel-primary { border-color: #e6f4f1; }
.panel-primary > .panel-heading { color: #117f69; background-color: #e6f4f1; border-color: #e6f4f1; font-weight: bold; }

/**** _panels ****/
/***************/




/***************/
/**** _form ****/

/** thumbnail **/
a.thumbnail:hover,
a.thumbnail:focus {
  border-color: #ffbb00;
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
}

.input-append.large input,
.input-prepend.large input { height: 34px; text-indent: 10px; }

.checkbox.inline { padding: 5px 0 0 0; margin-bottom: 5px; }
.checkbox.inline input { margin: 0 7px; margin-top: -3px; }
.checkbox.inline .inputRequirement:after { display: inline !important; }
/**** _form ****/
/***************/




/****************/
/**** _table ****/

table.table-clean { border: 0; background-color: transparent !important; }
table.table-clean td { border: 0; background-color: transparent !important; }

table.table-nopadding,
table.table-nopadding td { padding: 0; }

/**** _table ****/
/****************/




/****************/
/**** _modal ****/

.modal { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }
.modal-header { padding: 40px 40px 20px 40px; }
.modal-header h3 {  }
.modal-header .close {  }
.modal-body { padding: 20px 40px; }
.modal-footer { padding: 20px 40px;  }

/**** _modal ****/
/****************/




/***************/
/**** _html ****/

/* nav > farben anpassen */
.nav-pills>.active>a,
.nav-pills>.active>a:hover,
.nav-pills>.active>a:focus { background-color: #939a9e; }
.nav .dropdown-toggle .caret{
	border-top-color: #282120;
	border-bottom-color: #282120;
}
.open>.dropdown-menu { padding: 2px 0; }

/**** _html ****/
/***************/


/* bootstrap-touch-carousel v0.7.1, (c) 2014 (ixisio) Andreas Klein */
.touch-carousel{position:relative;overflow:hidden;width:100%;-webkit-transform:translate3d(0,0,0) scale3d(1,1,1);-webkit-backface-visibility:hidden;-webkit-transform-style:preserve-3d;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.touch-carousel .carousel-control{display:none!important}.touch-carousel .carousel-indicators{bottom:10px}.touch-carousel .carousel-indicators li{width:16px;height:16px;margin:1px 5px}.touch-carousel .carousel-indicators li.active{margin:0 5px;width:18px;height:18px}.touch-carousel .carousel-inner{overflow:hidden;-webkit-transform:translate3d(0%,0,0) scale3d(1,1,1);-moz-transform:translate3d(0%,0,0) scale3d(1,1,1);-ms-transform:translate3d(0%,0,0) scale3d(1,1,1);transform:translate3d(0%,0,0) scale3d(1,1,1);-webkit-backface-visibility:hidden;-webkit-transform-style:preserve-3d;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.touch-carousel .carousel-inner>.item{position:relative;float:left;display:block;-webkit-transition:none;-moz-transition:none;transition:none;-webkit-backface-visibility:hidden;-webkit-transform-style:preserve-3d}.touch-carousel .carousel-inner>.item *{-webkit-transition:none;-moz-transition:none;transition:none}.touch-carousel .carousel-inner.animate{-webkit-transition:all .3s linear;-moz-transition:all .3s linear;transition:all .3s linear}@media screen and (max-width:767px){.carousel-caption{display:none}}
