{*<!--[[[[[[[[[[[[[     ]]]]]]]]]]]]]]]]]]]
[:::::::::::::::::[     ]:::::::::::::::::]
[:::::::::::::::::[     ]:::::::::::::::::]
[::::::[[[[[[[[[[[[     ]]]]]]]]]]]]::::::]
[:::::[                             ]:::::]
[:::::[          SQUIDIO.DE         ]:::::]
[:::::[      http://squidio.de      ]:::::]
[:::::[                             ]:::::]
[::::::[[[[[[[[[[[[     ]]]]]]]]]]]]::::::]
[:::::::::::::::::[     ]:::::::::::::::::]
[:::::::::::::::::[     ]:::::::::::::::::]
[[[[[[[[[[[[[[[[[[[     ]]]]]]]]]]]]]]-->*}




<section id="main_section" class="clearfix">
  <iframe class="fullsize" frameborder="0" src="{$helpcenter_link}"></iframe>
</section>
